.DS_Store
*.log*
*.cpuprofile
node_modules/
examples/federation/node_modules/

dist/
dist-*
compiled/
coverage/
doc_build/
playwright-report/
tsconfig.tsbuildinfo
.swc

# CSS Modules dist files
*.css.d.ts
*.less.d.ts
*.scss.d.ts

# Test temp files
test-temp-*

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions/
!.vscode/extensions/**
.idea/
.nx/
.history/
.env.local
.env.*.local

# ignore directory for artifacts produced by tests
test-results/
fixtures-test/
fixtures-test-*/
.rslib/
!packages/core/src/coverage
!packages/core/tests/coverage
tests-dist/
.vscode-test/
packages/vscode/*.vsix
packages/vscode/icon.png
examples/federation/main-app/test/app-ssr.test.ts
examples/federation/main-app/test/component-remotes.dynamic.test.ts
examples/federation/main-app/test/node-local.dynamic.test.ts
examples/federation/main-app/test/node-local.static.test.ts
